<div id="video-container">
  <a id="btn-video" onclick="videoFunction()" class="btn btn-primary btn-sm"><i class="fa fa-play"></i></a>
  <a href="#content"><video id="video-element" muted loop playsinline>
    <source id="video-src" type="video/mp4">
  </video></a>
</div>


<div id="banner">
	<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
		<div class="copy">
			<h1>{{ SITENAME }}</h1>
			{% if BANNER_SUBTITLE %}
				<p class="intro">{{ BANNER_SUBTITLE }}</p>
			{% endif %}
		</div>
	</div>
</div>

